<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\SalesTracker.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
	  <modules runAllManagedModulesForAllRequests="false">
		<remove name="WebDAVModule" />
	 </modules>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: dfb5eb16-ad73-422b-b2f4-55c861568d0a-->